html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.redtext {
    color: red;
}

.whitetext {
    color: whitesmoke;
}

.redalert {
    background-color: red;
    color: whitesmoke;
}

.waitinglistitem {
    border: solid;
    background-color: darkcyan;
    color: whitesmoke;
}


.freeslot {
    background-color: green !important;
    color: whitesmoke !important;
}

.unavailslot {
    background-color: firebrick !important;
    color: whitesmoke !important;
}

.reservedslot {
    background-color: orange !important;
    color: whitesmoke !important;
}

.pastappt {
    background-color: purple !important;
    color: whitesmoke !important;
}

.currentappt {
    background-color: blue !important;
    color: whitesmoke !important;
}

.selecteditem {
    background-color: yellow !important;
    color: black !important;
}