@page
@model CPTest.Pages.AdHocClinicModifyModel
@{
}

<div class="container">

    <h1>Clinic for @Model.clinician.NAME, @Model.venue.NAME, @Model.adhocclinic.ClinicDate.ToString("dd/MM/yyyy")</h1>
    <form method="post">
    </form>

</div>