@page
@model CPTest.Pages.CGUNumberNotFoundModel
@{
}

<h1>There is no patient that corresponds to this CGU number.</h1>
<br />
<br />

<br />
<br />
<a type="button" class="btn btn-success" asp-page="Index">Go Back</a>