@page
@model CPTest.Pages.ClinicSetupModel
@{
}

<h1 style="text-align:center">Create clinic patterns</h1>

<h2>Here be dragons... (it's a WIP)</h2>

<script>

    //document.getElementById("btnConfirm").addEventListener("click", Confirm);
    
    function Confirm()
    {
        window.alert("Okay!");
    }


 
</script>