@page
@model CPTest.Pages.ClinicLettersAndListsModel
@{
}

<div class="container">
    <div class="row mb-5 g-5">
        <h1>Clinic Letters and Lists</h1>
    </div>

    <div class="row mb-5 g-5">
        <div class="col-md-6">
            @foreach (var item in Model.appointmentListForFamily)
            {
                <p><a type="button" class="btn btn-success" asp-page="ClinicLetterPrint" asp-route-refID=@item.RefID>Create Letter to @item.CGU_No</a></p>
            }
        </div>
        @*<div class="col-md-6">
            <a type="button" class="btn btn-success" asp-page="WIP">Email Letter to Patient (WIP)</a>
        </div>*@
    </div>

    <div class="row mb-5 g-5">
        <div class="col-md-6">
            <a type="button" class="btn btn-success" asp-page="ClinicListPrint" asp-route-refID=@Model.appointment.RefID>Create Clinic List</a>
        </div>
        @*<div class="col-md-6">
            <a type="button" class="btn btn-success" asp-page="WIP">Email Clinic List (WIP)</a> 
        </div>*@
    </div>


    <div class="row mb-5 g-5">
        <div class="col-md-6">
            <button type="button" id="btnCancel" class="btn btn-success">Go Back</button>
        </div>
    </div>
</div>

<script>

    //document.getElementById("btnConfirm").addEventListener("click", Confirm);
    document.getElementById("btnCancel").addEventListener("click", GoBack);
    document.onload(HideMenu());

    function Confirm() 
    {

    }

    function GoBack() 
    {
        //window.close();
        window.location.replace("Index");
    }

    function HideMenu() 
    {
        document.getElementById("TopMenu").hidden = true;
    }


</script>