@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">

    <h1 class="text-danger">There was an error!! :(</h1>
    <br /><br />
    <h2 class="text-danger">@Model.sErrorMessage</h2>
    <br /><br />
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
    
    <h3>Please report this error to the IT team, since it probably means nowt to you.</h3>


</div>