@page

@{
}

<div class="container">
    <div class="row mb-5 g-5">
        <h1 style="text-align:center">Done</h1>
    </div>

    <div class="row mb-5 g-5">
       
            <div class="col-md-2" style="text-align: center">
                <button id="btnClose" class="btn btn-success">Close</button>
            </div>
            <div class="col-md-4"></div>
    </div>

</div>

<script>
    document.getElementById("btnClose").addEventListener("click", CloseForm);
    document.onload(CloseForm());

    function CloseForm()
    {
        window.close();
    }
</script>