@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">

    <h1>@ViewData["Title"]</h1>

    <p>...seriously? You actually want to know about our privacy policy?</p>

    <p>Okay... uh... if stuff is private, we won't tell anyone. :P</p>

</div>